.App {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.logo {
  width: 50%;
  height: 50%
}

.developer {
  background-color:#ee660b;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  width: calc(100% / 3);  
  display: inline-block;
  vertical-align: top;   
  margin:3.5%;    
}

.DevImage {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;

  display: block; /* remove extra space below image */
}

.mainheader {
  text-align: center;
  font-size: 3.5pc;
}

.aboutapp {
  text-align: center;
}

.gitlink {
  background-color: #d63a13;
  border: none;
  color: white;
  padding: 10px;
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.aboutdev {
  padding: 10px;
}

.name {
  text-align: center;
}

.aboutlogo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #833ab4;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




